@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v51/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBHMdazTgWw.woff2) format('woff2');
    unicode-range: U +0460 -052F, U +1C80 -1C8A, U +20B4, U +2DE0 -2DFF, U + A640-A69F, U + FE2E-FE2F;
}

head {
    display: none;
}

meta {
    display: none;
}

link {
    display: none;
}

script {
    display: none;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a {
    text-decoration: none;
    color: inherit;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.active--tab {
    background-color: #2bd97c;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: block;
    margin: 8px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

script {
    display: none;
}

input {
    outline: none;
}

.container {
    padding: 40px 0;
    width: 100%;
}

:host {
    all: initial;
}

.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

element.style {
    color: transparent;
}

/* Search */

.search__background {
    background-color: #fff;
    border-bottom: 1px solid #e1e7ea;
    height: 80px;
    z-index: 1;
}

.search__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}

.search__content {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 340px;
    width: 100%;
}

.search, .search__input--wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__input--wrapper {
    position: relative;
    gap: 8px;
}

.search__input {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    outline: none;
    background-color: #f1f6f4;
    color: #042330;
    border: 2px solid #e1e7ea;
    border-radius: 8px;
}

.search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px;
}

.search__icon svg {
    width: 24px;
    height: 24px;
    color: #03314b;
}

/* sidebar */

.sidebar__toggle--btn {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar__toggle--btn svg {
    width: 24px;
    height: 24px;
}

.sidebar__overlay--hidden {
    opacity: 0;
    pointer-events: none;
}

.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
}

.sidebar {
    background-color: #f7faf9;
    width: 200px;
    min-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}

.sidebar__logo img {
    width: 100%;
    height: 40px;
}

.sidebar__top {
    flex: 1 1;
    margin-top: 40px;
}

.sidebar__link--wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
}

.sidebar__link--line {
    width: 5px;
    height: 100%;
    background-color: transparent;
    margin-right: 16px;
}

.sidebar__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.sidebar__icon--wrapper svg {
    width: 24px;
    height: 24px;
}

.sidebar__link--line {
    width: 5px;
    height: 100%;
    background-color: transparent;
    margin-right: 16px;
}

.sidebar__link--not-allowed {
    cursor: not-allowed;
}

.sidebar__link--wrapper:last-child {
    margin-bottom: 0;
}

/* Section */

.section__title.page__title {
    text-align: left;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 16px;
}

.section__title {
    font-size: 32px;
    color: #032b41;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}

/* settings */

.settings__login--wrapper {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.btn.settings__login--btn {
    width: 100px;
}

.settings__login--text {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    text-align: center;
    margin-bottom: 16px;
}

/* button */

.btn {
    background-color: #2bd97c;
    color: #032b41;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.settings__login--wrapper img {
    width: 100%;
    height: 100%;
}

/* svg */

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0px 0px;
}
