@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v51/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBHMdazTgWw.woff2) format('woff2');
    unicode-range: U +0460 -052F, U +1C80 -1C8A, U +20B4, U +2DE0 -2DFF, U + A640-A69F, U + FE2E-FE2F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    view-transition-name: root;
}

html {
    display: block;
}

head {
    display: none;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    display: block;
    margin: 8px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

meta {
    display: none;
}

link {
    display: none;
}

script {
    display: none;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

script {
    display: none;
}

:host {
    all: initial;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container {
    padding: 40px 0;
    width: 100%;
}

/* wrapper */

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}

/* search */

.search__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}

.search__background {
    background-color: #fff;
    border-bottom: 1px solid #e1e7ea;
    height: 80px;
    z-index: 1;
}

.search__content {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 340px;
    width: 100%;
}

.search, .search__input--wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__input--wrapper {
    position: relative;
    gap: 8px;
}

.search__input {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    outline: none;
    background-color: #f1f6f4;
    color: #042330;
    border: 2px solid #e1e7ea;
    border-radius: 8px;
}

.search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px;
}

.search__icon svg {
    width: 24px;
    height: 24px;
    color: #03314b;
}

/* sidebar */

.sidebar__toggle--btn {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar__overlay--hidden {
    opacity: 0;
    pointer-events: none;
}

.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
}

.sidebar {
    background-color: #f7faf9;
    width: 200px;
    min-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}

.sidebar__logo img {
    width: 100%;
    height: 40px;
}

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}

.sidebar__top {
    flex: 1 1;
    margin-top: 40px;
}

.sidebar__link--wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
}

.active--tab {
    background-color: #2bd97c;
}

.sidebar__link--line {
    width: 5px;
    height: 100%;
    background-color: transparent;
    margin-right: 16px;
}

.sidebar__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.sidebar__icon--wrapper svg {
    width: 24px;
    height: 24px;
}

.sidebar__link--not-allowed {
    cursor: not-allowed;
}

.sidebar__link--wrapper:last-child {
    margin-bottom: 0;
}

.sidebar__link--not-allowed {
    cursor: not-allowed;
}

/* for you */

.for-you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}

.for-you__sub--title {
    font-weight: 300;
    color: #394547;
    margin-bottom: 16px;
}

.for-you__recommended--books {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: mandatory;
    scroll-snap-type: x;
    margin-bottom: 32px;
}

.for-you__recommended--books-link {
    position: relative;
    scroll-snap-align: start;
    padding: 32px 12px 12px;
    text-decoration: none;
    border-radius: 4px;
    max-width: 200px;
    width: 100%;
}

audio:not([controls]) {
    display: none !important;
}

audio {
    width: 300px;
    height: 54px;
}

.recommended__book--title {
    font-size: 16px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 8px;
}

.recommended__book--author {
    font-size: 14px;
    color: #6b757b;
    font-weight: 300;
    margin-bottom: 8px;
}

.recommended__book--sub-title {
    font-size: 14px;
    color: #394547;
    margin-bottom: 8px;
}

.recommended__book--details-wrapper {
    display: flex;
    gap: 8px;
}

.recommended__book--details {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #6b757b;
}

.recommended__book--details-icon {
    display: flex;
    width: 16px;
    height: 16px;
}

.book__pill {
    background-color: #032b41;
    width: -moz-fit-content;
    width: fit-content;
    height: 18px;
    padding: 0 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

/* selected */

.selected__book {
    display: flex;
    justify-content: space-between;
    width: calc((100% / 3) * 2);
    background-color: #fbefd6;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px;
}

.selected__book--sub-title {
    color: #032b41;
    width: 40%;
}

.selected__book--line {
    width: 1px;
    background-color: #bac8ce;
}

.selected__book--content {
    display: flex;
    gap: 16px;
    width: 60%;
}

.book__image--wrapper {
    width: 172px;
    height: 172px;
}

.book__image {
    width: 100%;
    height: 100%;
}

.selected__book--text {
    width: 100%;
}

.selected__book--title {
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}

.selected__book--author {
    font-size: 14px;
    color: #394547;
    margin-bottom: 16px;
}

.selected__book--duration-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.selected__book--icon {
    display: flex;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
}

.selected__book--icon svg {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    padding: 4px 4px 4px 6px;
}

.selected__book--duration {
    font-size: 14px;
    font-weight: 500;
    color: #032b41;
}

/* media queries */

@media (max-width: 1200px) {
    .selected__book {
        width: 100%;
    }
}

