@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v51/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBHMdazTgWw.woff2) format('woff2');
    unicode-range: U +0460 -052F, U +1C80 -1C8A, U +20B4, U +2DE0 -2DFF, U + A640-A69F, U + FE2E-FE2F;
}

.search__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}

head {
    display: none;
}

body {
    display: block;
    margin: 8px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

section {
    display: block;
    unicode-bidi: isolate;
}

b {
    font-weight: bolder;
}

.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container {
    padding: 40px 0;
    width: 100%;
}

svg[Attributes Style] {
    stroke: currentcolor;
    fill: none;
    stroke-width: 0;
    height: 1em;
    width: 1em;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

path[Attributes Style] {
    fill-rule: evenodd;
    clip-rule: evenodd;
    d: path("M 1.5 3 C 1.22386 3 1 3.22386 1 3.5 C 1 3.77614 1.22386 4 1.5 4 H 13.5 C 13.7761 4 14 3.77614 14 3.5 C 14 3.22386 13.7761 3 13.5 3 H 1.5 Z M 1 7.5 C 1 7.22386 1.22386 7 1.5 7 H 13.5 C 13.7761 7 14 7.22386 14 7.5 C 14 7.77614 13.7761 8 13.5 8 H 1.5 C 1.22386 8 1 7.77614 1 7.5 Z M 1 11.5 C 1 11.2239 1.22386 11 1.5 11 H 13.5 C 13.7761 11 14 11.2239 14 11.5 C 14 11.7761 13.7761 12 13.5 12 H 1.5 C 1.22386 12 1 11.7761 1 11.5 Z");
    fill: currentcolor;
}

:not(svg) {
    transform-origin: 0px 0px;
}

/* Search */

.search__content {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 340px;
    width: 100%;
}

.search, .search__input--wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__input--wrapper {
    position: relative;
    gap: 8px;
}

.search__input {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    outline: none;
    background-color: #f1f6f4;
    color: #042330;
    border: 2px solid #e1e7ea;
    border-radius: 8px;
}

input {
    outline: none;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    -webkit-rtl-ordering: logical;
    background-color: field;
    margin: 0em 0em 0em 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.search__background {
    background-color: #fff;
    border-bottom: 1px solid #e1e7ea;
    height: 80px;
    z-index: 1;
}

.search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px;
}

/* Sidebar */

.sidebar__toggle--btn {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar__toggle--btn svg {
    width: 24px;
    height: 24px;
}

.sidebar__overlay--hidden {
    opacity: 0;
    pointer-events: none;
}

.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}

.sidebar__logo img {
    width: 100%;
    height: 40px;
}

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}

/* Image */
 
img[Attributes Style] {
    width: 495px;
    aspect-ratio: auto 495 / 114;
    height: 114px;
    aspect-ratio: auto 495 / 114;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* Nav */

nav {
    display: block;
    unicode-bidi: isolate;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1070px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.nav__img--mask {
    max-width: 200px;
}

.nav__img {
    width: 100%;
    height: 100%;
}

.nav__list--wrapper {
    display: flex;
    gap: 24px;
}

.nav__list--login {
    cursor: pointer;
}

.nav__list {
    cursor: not-allowed;
    color: #032b41;
    transition: color .1s;
}

/* Lists */

ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}

/* landing */

.landing__wrapper {
    display: flex;
}

.landing__content {
    width: 100%;
}

.landing__content__title {
    color: #032b41;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.landing__content__title {
    color: #032b41;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.landing__content__subtitle {
    color: #394547;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 24px;
    line-height: 1.5;
}

.landing__image--mask {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.landing__image--mask img {
    width: 100%;
    height: 100%;
    max-width: 400px;
}

/* buttons */

.btn {
    background-color: #2bd97c;
    color: #032b41;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

button {
text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em 0em 0em 0em;
        padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

/*Features*/

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section__title {
    font-size: 32px;
    color: #032b41;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}

.features__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    gap: 40px;
    margin-bottom: 96px;
}

.features__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    color: #032b41;
}

.features__icon svg {
    width: 60px;
    height: 60px;
}

path[Attributes Style] {
    d: path("M 854.6 288.7 c 6 6 9.4 14.1 9.4 22.6 V 928 c 0 17.7 -14.3 32 -32 32 H 192 c -17.7 0 -32 -14.3 -32 -32 V 96 c 0 -17.7 14.3 -32 32 -32 h 424.7 c 8.5 0 16.7 3.4 22.7 9.4 l 215.2 215.3 Z M 790.2 326 L 602 137.8 V 326 h 188.2 Z M 320 482 a 8 8 0 0 0 -8 8 v 48 a 8 8 0 0 0 8 8 h 384 a 8 8 0 0 0 8 -8 v -48 a 8 8 0 0 0 -8 -8 H 320 Z m 0 136 a 8 8 0 0 0 -8 8 v 48 a 8 8 0 0 0 8 8 h 184 a 8 8 0 0 0 8 -8 v -48 a 8 8 0 0 0 -8 -8 H 320 Z");
}

.features__title {
    font-size: 24px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 500;
}

.features__sub--title {
    font-size: 18px;
    color: #394547;
    font-weight: 300;
}

/* Statistics */

.statistics__wrapper {
    display: flex;
    gap: 80px;
    margin-bottom: 96px;
}

.statistics__content--header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistics__heading {
    font-size: 32px;
    font-weight: 500;
    color: #6b757b;
    margin-bottom: 16px;
}

.statistics__heading:last-child {
    margin-bottom: 0;
}

.statistics__heading {
    font-size: 32px;
    font-weight: 500;
    color: #6b757b;
    margin-bottom: 16px;
}

.statistics__content--details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    background-color: #f1f6f4;
    padding: 40px 24px;
}

.statistics__data {
    display: flex;
    gap: 16px;
}

.statistics__data--number {
    color: #0365f2;
    font-size: 20px;
    font-weight: 600;
    margin-top: 4px;
}

.statistics__data--title {
    font-size: 20px;
    font-weight: 300;
    color: #394547;
}

.statistics__wrapper:last-child {
    margin-bottom: 0;
}

.statistics__wrapper {
    display: flex;
    gap: 80px;
    margin-bottom: 96px;
}

.statistics__content--header-second {
    align-items: flex-end;
}

.statistics__content--header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}