@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

input {
    outline: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.sidebar {
    background-color: #f7faf9;
    width: 200px;
    min-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  border: none;
}

.btn--wrapper {
  background: none;
  border: none;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME */
.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

/* NAVBAR */
.nav {
  height: 80px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.nav__img--mask {
  max-width: 200px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.nav__list--login:hover {
  color: #2bd97c;
}

.nav__list--login {
  cursor: pointer;
}

/* LANDING */
.landing__wrapper {
  display: flex;
}

.landing__content {
  width: 100%;
}

.landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.landing__content__title {
  color: #032b41;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1.5;
}

/* FEATURES */
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 96px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #032b41;
}

.features__icon svg {
  width: 60px;
  height: 60px;
}

.features__title {
  font-size: 24px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 500;
}

.features__sub--title {
  font-size: 18px;
  color: #394547;
  font-weight: 300;
}

.statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.statistics__heading:last-child {
  margin-bottom: 0;
}

.statistics__heading--active {
  color: #2bd97c;
}

.statistics__wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 96px;
}

.statistics__wrapper:last-child {
  margin-bottom: 0;
}

.statistics__content--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistics__content--header-second {
  align-items: flex-end;
}

.statistics__content--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f1f6f4;
  padding: 40px 24px;
}

.statistics__data {
  display: flex;
  gap: 16px;
}

.statistics__data--number {
  color: #0365f2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.statistics__data--title {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
}

/* REVIEWS */
.reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.review__stars {
  display: flex;
}

.review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

/* NUMBERS */
.numbers {
  background-color: #d7e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.numbers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.numbers__icon {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 4px;
}

.numbers__icon svg {
  color: #0365f2;
  width: 48px;
  height: 48px;
}

.numbers__star--icon svg {
  width: 20px;
  height: 20px;
}

.numbers__title {
  font-size: 40px;
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
}

.numbers__sub--title {
  color: #394547;
  font-weight: 300;
}

/* Footer */

#footer {
  background-color: rgb(241 246 244);
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
  z-index: 1;
}

.footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.footer__social--link-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__social--link {
  display: flex;
}

.footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.footer__social--text {
  margin-bottom: 4px;
}

.footer__social--text b {
  font-weight: 500;
}

.footer__review--wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.footer__social--img-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social--img {
  display: flex;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 500;
}

/* Firebase Auth for log in */

.auth__content {
    padding: 48px 32px 24px;
}

.auth, .auth__wrapper {
    width: 100%;
    z-index: 9999;
}

.auth__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth {
    position: relative;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.auth__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 24px;
}

.btn.guest__btn--wrapper {
    position: relative;
    display: flex;
    background-color: #3a579d;
    color: #fff;
    justify-content: center;
    border-radius: 0;
}

.guest__icon--mask {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: transparent;
    position: absolute;
    left: 2px;
}

.guest__icon--mask svg {
    width: 24px;
    height: 24px;
    fill: #3a579d;
    color: #fff;
}

.google__icon--mask {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    left: 2px;
}

.google__icon--mask img {
    width: 24px;
    height: 24px;
}

.auth__separator {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.auth__separator:before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
}

.auth__separator:after, .auth__separator:before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
}

.auth__separator--text {
    margin: 0 24px;
    font-size: 14px;
    color: #394547;
    font-weight: 500;
}

.btn.google__btn--wrapper {
    position: relative;
    display: flex;
    background-color: #4285f4;
    color: #fff;
    justify-content: center;
    border-radius: 0%;
}

.auth__main--form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.auth__main--input {
    height: 40px;
    border: 2px solid #bac8ce;
    border-radius: 4px;
    color: #394547;
    padding: 0 12px;
}

.auth__forgot--password {
    text-align: center;
    color: #116be9;
    font-weight: 300;
    font-size: 14px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 16px;
    cursor: pointer;
}

.auth__switch--btn {
    height: 40px;
    text-align: center;
    background-color: #f1f6f4;
    color: #116be9;
    width: 100%;
    border-radius: 0 0 4px 4px;
    font-weight: 300;
    font-size: 16px;
}

.auth__close--btn {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    cursor: pointer;
    transition: opacity .2s;
}

.auth__close--btn svg {
    width: 28px;
    height: 28px;
}

/* For You */

.for-you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}

audio:not([controls]) {
    display: none !important;
}

audio {
    width: 300px;
    height: 54px;
}

.selected__book {
    display: flex;
    justify-content: space-between;
    width: calc((100% / 3) * 2);
    background-color: #fbefd6;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px;
}

.selected__book--sub-title {
    color: #032b41;
    width: 40%;
}

.selected__book--line {
    width: 1px;
    background-color: #bac8ce;
}

.selected__book--content {
    display: flex;
    gap: 16px;
    width: 60%;
}

.book__image--wrapper {
    width: 172px;
    height: 172px;
}

.book__image {
    width: 100%;
    height: 100%;
}

.selected__book--text {
    width: 100%;
}

.selected__book--title {
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}

.selected__book--author {
    font-size: 14px;
    color: #394547;
    margin-bottom: 16px;
}

.selected__book--duration-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.selected__book--icon {
    display: flex;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
}

.selected__book--icon svg {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    padding: 4px 4px 4px 6px;
}

.selected__book--duration {
    font-size: 14px;
    font-weight: 500;
    color: #032b41;
}

.for-you__sub--title {
    font-weight: 300;
    color: #394547;
    margin-bottom: 16px;
}

.for-you__recommended--books {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: mandatory;
    scroll-snap-type: x;
    margin-bottom: 32px;
}

.for-you__recommended--books-link {
    position: relative;
    scroll-snap-align: start;
    padding: 32px 12px 12px;
    text-decoration: none;
    border-radius: 4px;
    max-width: 200px;
    width: 100%;
}

.recommended__book--details-wrapper {
    display: flex;
    gap: 8px;
}

.recommended__book--author {
    font-size: 14px;
    color: #6b757b;
    font-weight: 300;
    margin-bottom: 8px;
}

 .recommended__book--sub-title {
    font-size: 14px;
    color: #394547;
    margin-bottom: 8px;
}

.recommended__book--details-wrapper {
    display: flex;
    gap: 8px;
}

.recommended__book--details {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #6b757b;
}

.recommended__book--details-icon {
    display: flex;
    width: 16px;
    height: 16px;
}

.book__pill {
    background-color: #032b41;
    width: -moz-fit-content;
    width: fit-content;
    height: 18px;
    padding: 0 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

/* Settings No Premium */

search, .search__input--wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__background {
    background-color: #fff;
    border-bottom: 1px solid #e1e7ea;
    height: 80px;
    z-index: 1;
}

.search__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}

.search__content {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 340px;
    width: 100%;
}

.search, .search__input--wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__input--wrapper {
    position: relative;
    gap: 8px;
}

.search, .search__input--wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__input {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    outline: none;
    background-color: #f1f6f4;
    color: #042330;
    border: 2px solid #e1e7ea;
    border-radius: 8px;
}

.search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px;
}

.search__icon svg {
    width: 24px;
    height: 24px;
    color: #03314b;
}

/* SideBar (both) */

.sidebar__font--size-icon-medium {
    width: 24px;
    height: 24px;
}

.sidebar__font--size-icon-small {
    width: 20px;
    height: 20px;
}

.sidebar__font--size-icon-large {
    width: 28px;
    height: 28px;
}

.sidebar__font--size-icon-xlarge {
    width: 32px;
    height: 32px;
}

.sidebar__font--size-icon--active {
    border-bottom: 3px solid #2bd97c;
}

.sidebar__font--size-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.sidebar__font--size-wrapper {
    display: flex;
    margin-left: 24px;
    gap: 8px;
}

.sidebar__toggle--btn {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}

.sidebar__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.sidebar__link--not-allowed {
    cursor: not-allowed;
}

.sidebar__icon--wrapper svg {
    width: 24px;
    height: 24px;
}

.sidebar__link--wrapper:last-child {
    margin-bottom: 0;
}

.sidebar__link--wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
}

.sidebar__link--line {
    width: 5px;
    height: 100%;
    background-color: transparent;
    margin-right: 16px;
}

.sidebar__logo img {
    width: 100%;
    height: 40px;
}

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}

.sidebar__toggle--btn svg {
    width: 24px;
    height: 24px;
}

.sidebar__top {
    flex: 1 1;
    margin-top: 40px;
}

.section__title.page__title {
    text-align: left;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 16px;
}

.setting__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 24px;
}

.settings__sub--title {
    font-size: 18px;
    font-weight: 700;
    color: #032b41;
}

.settings__text {
    color: #032b41;
}

.btn.settings__upgrade--btn {
    width: -moz-fit-content;
    width: fit-content;
}

.btn.settings__login--btn {
    width: 100px;
}

.setting__content:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

/* Upgrade_To_Premium */

.wrapper__full {
    margin-left: 0;
    width: 100%;
}

.sidebar__overlay--hidden {
    opacity: 0;
    pointer-events: none;
}

.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
}

.plan {
    width: 100%;
}

.plan__header--wrapper {
    position: relative;
    text-align: center;
    width: 100%;
  padding-top: 16px;
    margin-bottom: 24px;
    background-color: #032b41;
    border-bottom-right-radius: 16rem;
    border-bottom-left-radius: 16rem;
    color: #fff;
    height: 100%;
}

.plan__header {
    max-width: 1000px;
    margin: 0 auto;
    
    padding: 0 24px;
}

.plan__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.plan__sub--title {
    font-size: 20px;
    margin-bottom: 32px;
}

.plan__img--mask {
    display: flex;
    justify-content: center;
    max-width: 340px;
    margin: 0 auto;
    border-radius: 180px 180px 0 0;
    overflow: hidden;
}

.plan__features--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    grid-gap: 24px;
    gap: 24px;
    max-width: 800px;
    margin: 0 auto 56px;
}

.plan__features--icon {
    display: flex;
    justify-content: center;
    color: #032b41;
    margin-bottom: 12px;
}

.plan__features--icon svg {
    width: 60px;
    height: 60px;
}

.plan__features--text {
    color: #394547;
    line-height: 1.5;
}

.section__title {
    font-size: 32px;
    color: #032b41;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}

.plan__cards--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 600px;
    margin: 0 auto 32px;
}

.plan__card--active {
    border: 4px solid #2be080;
}

.plan__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1;
}

.plan__card--circle {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan__card--dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
}

.plan__card--title {
    font-size: 18px;
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}

.plan__card--price {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 8px;
}

.plan__card--text {
    color: #6b757b;
    font-size: 14px;
}

.plan__card--separator {
    font-size: 14px;
    color: #6b757b;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 240px;
    margin: 24px auto;
}

.plan__card--circle {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan__card--cta {
    background: transparent;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 600px;
    margin: 0 auto;
}

.plan__disclaimer {
    font-size: 12px;
    color: #6b757b;
    text-align: center;
}

hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    color: gray;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.accordion__card {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    overflow: hidden;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px 0;
    gap: 8px;
}

.accordion__title {
    font-weight: 500;
    font-size: 24px;
    position: relative;
    margin-bottom: 0;
    color: #032b41;
    transition: transform .3s ease;
}

.accordion__icon--rotate {
    transform: rotate(180deg);
}

.accordion__icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    transition: transform .25s ease;
}

.collapse.show {
    height: auto;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}

.accordion__body {
    min-height: 1px;
    padding: 24px 32px 32px;
    color: #394547;
    line-height: 1.5;
}

.accordion__card:last-child {
    margin-bottom: 0;
}

.accordion__card {
    max-width: 600px;
    margin: 0 auto 16px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #e6ecef;
    border-radius: 4px;
    display: block;
}

/* Skeleton */

skeleton-loader {
    display: flex;
    flex-direction: column;
}

.skeleton-book {
    margin-bottom: 16px;
}

.skeleton-image {
    width: 100px; /* Adjust according to your layout */
    height: 150px; /* Adjust according to your layout */
    background-color: #e0e0e0; /* Light gray for skeleton */
    border-radius: 4px;
}

.skeleton-title,
.skeleton-author {
    height: 20px;
    background-color: #e0e0e0; 
    margin-top: 8px; /* Space out the text */
    border-radius: 4px;
}

/* Read Button Summary */

.summary {
    position: relative;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 160px);
}

.audio__book--summary {
    white-space: pre-line;
    padding: 24px;
    max-width: 800px;
    margin: 0 auto;
}

.audio__book--summary-title {
    color: #032b41;
    font-size: 24px;
    border-bottom: 1px solid #e1e7ea;
    margin-bottom: 32px;
    padding-bottom: 16px;
    line-height: 1.5;
}

b {
    font-weight: bolder;
}

.audio__book--summary-text {
    white-space: pre-line;
    line-height: 1.4;
    color: #032b41;
}

.audio__wrapper {
    width: 100%;
    height: 80px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #042330;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998;
}

audio:not([controls]) {
    display: none !important;
}

audio {
    width: 300px;
    height: 54px;
}

.audio__track--wrapper {
    display: flex;
    gap: 12px;
}

.audio__track--image-mask {
    display: flex;
    max-width: 48px;
}

.audio__track--details-wrapper {
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.audio__track--author {
    color: #bac8ce;
}


.audio__wrapper>div {
    width: calc(100% / 3);
}

.audio__controls, .audio__controls--btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio__controls {
    gap: 24px;
}

.audio__controls--btn {
    border-radius: 50%;
    cursor: pointer;
}

.audio__controls--btn svg {
    width: 28px;
    height: 28px;
    stroke: #fff;
    transition: all .2s;
}

.audio__controls--btn-play {
    background-color: #fff;
    width: 40px;
    height: 40px;
}

.audio__controls--btn {
    border-radius: 50%;
    cursor: pointer;
}

.audio__controls--btn-play svg {
    color: #042330;
}

.audio__wrapper>div {
    width: calc(100% / 3);
}

.audio__progress--wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.audio__time {
    color: #fff;
    font-size: 14px;
}

.audio__progress--bar {
    border-radius: 8px;
    height: 4px;
    max-width: 300px;
    width: 100%;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*Subscription payment page*/

.__PrivateStripeElement {
  margin: "-4px 0px";
  padding: "0px" !important;
  border-width: "medium" !important;
  border-style: "none" !important;
  border-color: "currentcolor" !important;
  border-image: "initial" !important;
  display: "block" !important;
  background: "transparent" !important;
  position: "relative" !important;
  opacity: "1" !important;
  transition: "height 0.35s" !important;
}

.SubmitButton-IconContainer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(calc(var(--space-4) * -1));
    -ms-transform: translateX(calc(var(--space-4)*-1));
    transform: translateX(calc(var(--space-4) * -1));
    transition: -webkit-transform var(--success-spinner-move-duration) ease;
    transition: transform var(--success-spinner-move-duration) ease;
    transition: transform var(--success-spinner-move-duration) ease, -webkit-transform var(--success-spinner-move-duration) ease;
    width: 100%;
}

.SubmitButton-Icon--post, .SubmitButton-Icon--pre {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(.9);
    -ms-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9);
}

.SubmitButton-Icon {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all var(--default-transition);
}

.wrap-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.align-items-baseline {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.align-items-flex-start {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.justify-content-space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.direction-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.ProductSummary-name {
    word-break: break-word;
}

.ProductSummary-amountsContainer {
    position: relative;
}

.ProductSummary-totalAmount {
    font-size: var(--checkout-product-summary-total-font-default);
    margin: var(--space-0) 0 3px;
}

.App-Container .App {
    -webkit-animation: enter-no-scale .6s;
    animation: enter-no-scale .6s;
    position: relative;
}

.App {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
}

.wEAIlV87__Header {
    margin-bottom: var(--space-6);
    z-index: var(--checkout-z-index-header);
}

.aYuOZURb__Header-content {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.align-items-stretch {
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.flex-container {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.width-auto, .width-fixed {
    -ms-flex-preferred-size: auto;
    -webkit-flex-basis: auto;
    flex-basis: auto;
}

.width-12 {
    width: 100%;
}

.width-auto {
    width: auto;
}

.align-items-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-item {
    box-sizing: border-box;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: 100%;
    min-width: 0;
}

.Link--primary {
    color: var(--checkout-blue);
}

.Link {
    cursor: pointer;
    text-decoration: none;
}

.alXgr_l1__BusinessLink--withArrow {
    margin-left: calc(var(--space-5) * -1);
    padding-left: var(--space-5);
}

.alXgr_l1__BusinessLink--withArrow, .i7-BfIyQ__BusinessLink--withBusinessNameLabel {
    min-width: 60px;
}

.NTVCZeIn__BusinessLink {
    display: block;
}

.l-dw6QUX__BusinessLink-backArrowContainer {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.BillingIntervalBreak {
    display: none;
}

.BjJO-0hk__BusinessLink-backLabel {
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-transform: translateX(var(--space-1));
    -ms-transform: translateX(var(--space-1));
    transform: translateX(var(--space-1));
}

.Text-color--gray800 {
    color: var(--checkout-gray800);
}
.Text-fontSize--13 {
    font-size: var(--checkout-font-size-13);
}

.Text-fontWeight--600 {
    font-weight: 600;
}

.Text-fontWeight--500 {
    font-weight: 500;
}

.Text-color--gray400 {
    color: var(--checkout-gray400);
}

.Text-fontWeight--400 {
    font-weight: 400;
}

.Text-fontSize--16 {
    font-size: var(--checkout-font-size-16);
}

.Text-fontSize--14 {
    font-size: var(--checkout-font-size-14);
}

.Text-fontSize--12 {
    font-size: var(--checkout-font-size-12);
}

.Text {
    margin: 0;
}

.Text--tabularNumbers {
    font-variant-numeric: tabular-nums;
    letter-spacing: -.03rem;
}

.Text--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Pd_4lI3L__BusinessLink-content {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

._83elD2bt__Business {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    min-width: 0;
}

.mr2 {
    margin-right: var(--space-2);
}

.SubmitButton-SpinnerIcon .Icon.Icon--md, .SubmitButton-SpinnerIcon svg {
    height: var(--spinner-width);
    width: var(--spinner-width);
}

.SubmitButton-CheckmarkIcon {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(calc(-50% + .5px)) translateX(-50%) scale(.6);
    -ms-transform: translateY(calc(-50% + .5px)) translateX(-50%) scale(.6);
    transform: translateY(calc(-50% + .5px)) translateX(-50%) scale(.6);
}

.ConfirmPayment-PostSubmit>* {
    margin-top: var(--space-3);
}

.B4eU5jRx__ConfirmTerms {
    line-height: 17px;
    text-align: center;
}

.Icon--md.Icon--square {
    width: var(--checkout-icon-md);
}

.Icon--sm {
    height: var(--checkout-icon-sm);
}

.Icon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.PsuKjvO4__HeaderImage-fallbackIcon {
    fill: var(--checkout-gray400);
}

.Icon--sm {
    height: var(--checkout-icon-sm);
}

.Icon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

._83elD2bt__Business:not(.XKfFlMzi__is-darkBackground) .LuOo3E3-__Business-name.LuOo3E3-__Business-name {
    color: var(--checkout-gray800);
}

._2cHAhMuN__SandboxTestingBadgeComponent {
    fill: var(--checkout-white);
    -ms-flex-align: center;
    -ms-flex-pack: normal;
    -webkit-align-items: center;
    align-items: center;
    background-color: var(--sandbox-badge-background-color);
    border: var(--sandbox-badge-border);
    border-color: var(--sandbox-badge-background-color);
    border-radius: var(--sandbox-badge-border-radius-xsmall);
    color: var(--checkout-white);
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: var(--sandbox-badge-label-small-emphasized-font-family);
    font-size: var(--sandbox-badge-label-small-emphasized-font-size);
    font-weight: var(--sandbox-badge-label-small-emphasized-font-weight);
    gap: var(--sandbox-badge-gap);
    height: var(--sandbox-badge-height);
    -webkit-justify-content: normal;
    justify-content: normal;
    line-height: var(--sandbox-badge-label-small-emphasized-line-height);
    margin-left: var(--sandbox-badge-margin-small);
    margin-right: var(--sandbox-badge-margin-small);
    padding: var(--sandbox-badge-paddingY) var(--sandbox-badge-padding-space-75);
    white-space: nowrap;
}

.App-Payment {
    background-color: var(--checkout-white);
    padding-top: var(--space-5);
    transition: background-color var(--checkout-form-expansion-duration) ease-out;
    z-index: 1;
}

.App-Overview, .App-Payment {
    padding: 0 var(--checkout-app-gutter-width) var(--space-5);
    width: 100%;
}

.App-Overview>*, .App-Payment>* {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--checkout-app-tablet-constraint);
}

.App-Footer {
    padding-top: var(--checkout-app-gutter-width);
}

.App-Overview>*, .App-Payment>* {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--checkout-app-tablet-constraint);
}

.JOHDf_Xc__Footer {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: var(--checkout-font-size-12);
    gap: var(--space-2) var(--space-4);
    -webkit-justify-content: center;
    justify-content: center;
}

.GYut03iO__PoweredByStripe {
    margin-top: 1px;
    padding: var(--space-0) var(--space-4) var(--space-0) 0;
    position: relative;
    text-align: center;
}

.PaymentRequestOrHeader {
    position: relative;
}

.ProductSummary, .ProductSummary-info {
    -ms-flex-pack: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}

.ProductSummary {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: default;
    text-align: center;
}

.AnimateSinglePresence {
    --animateSinglePresenceDurationHeight: var(--transitionHeightDuration);
    --animateSinglePresenceDelayHeight: 0s;
    --animateSinglePresenceEnterDurationOpacity: var(--transitionHeightDuration);
    --animateSinglePresenceExitDurationOpacity: var(--transitionHeightDuration);
    --animateSinglePresenceEnterDelayOpacity: 0s;
    --animateSinglePresenceExitDelayOpacity: 0s;
    --animateSinglePresenceTimingFunction: var(--transitionHeightTimingFunction);
}

.AnimateSinglePresence {
    position: relative;
    transition: height var(--animateSinglePresenceDurationHeight) var(--animateSinglePresenceTimingFunction) var(--animateSinglePresenceDelayHeight);
}

.AnimatePresence {
    --animatePresenceEnterDurationHeight: var(--transitionHeightDuration);
    --animatePresenceEnterDelayHeight: 0s;
    --animatePresenceExitDurationHeight: var(--transitionHeightDuration);
}

.AnimatePresence {
    position: relative;
}

.ButtonContainer {
    height: var(--button-height-xlg);
    margin-bottom: var(--space-3);
    position: relative;
    width: 100%;
}

.ButtonAndDividerContainer .Divider {
    padding-bottom: var(--space-4);
    padding-top: var(--space-4);
}

.Divider {
    margin-bottom: 8px;
    margin-top: 8px;
}

.Divider {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: relative;
}

.ButtonAndDividerContainer {
    opacity: 0;
}

.Divider-Text {
    background-color: var(--checkout-white);
    left: 50%;
    padding: 0 var(--space-2);
    position: absolute;
    text-transform: uppercase;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: background-color .3s ease-in-out .5s;
    white-space: nowrap;
}

.ButtonAndDividerContainer, .PaymentHeaderContainer {
    width: 100%;
}

container:first-child .PaymentMethodFormAccordionItem--compact.AccordionItem:first-child {
    border-top: none;
}

.PaymentMethodFormAccordionItem--compact.AccordionItem:first-child {
    border-top: var(--border);
}

.PaymentMethodFormAccordionItem.AccordionItem.PaymentMethodFormAccordionItem--overflowVisible {
    overflow: visible;
}

.PaymentMethodFormAccordionItem.AccordionItem {
    overflow: hidden;
}

.AccordionItemContent.PaymentMethodFormAccordionItem {
    padding: 0 var(--space-4);
}

.AccordionItemContent--no-title {
    padding-top: 0;
}

.AccordionItemContent {
    padding: var(--space-4);
    width: 100%;
}

.AccordionItemCover {
    padding: var(--space-4);
    width: 100%;
}

.AccordionItemCover-header {
    position: relative;
}

.AccordionItemCover-label {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    width: 25%;
}

.PaymentMethodFormAccordionItem .AccordionItemCover-label {
    display: none;
}

.mt5 {
    margin-top: var(--space-5);
}

.width-grow {
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.AccordionItemHeader-content {
    position: relative;
    z-index: var(--checkout-z-index-accordion-item-content);
}

.AccordionItem--borderless, .AccordionItem:first-child {
    border-top: none;
}

.AccordionItem {
    transition: height .3s var(--accordion-item-height-transition-curve);
}

.AccordionItem-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.ProductSummary-buttonsContainer:empty {
    margin-top: 0;
}

.ProductSummary-buttonsContainer {
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: var(--space-3);
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: var(--space-2);
}

.PaymentForm-form {
    scroll-margin-top: calc(var(--checkout-app-gutter-width) + var(--button-height-xlg) + var(--space-5));
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    transition: opacity var(--checkout-form-expansion-duration) ease-out, -webkit-transform var(--checkout-form-expansion-duration) ease-out;
    transition: opacity var(--checkout-form-expansion-duration) ease-out, transform var(--checkout-form-expansion-duration) ease-out;
    transition: opacity var(--checkout-form-expansion-duration) ease-out, transform var(--checkout-form-expansion-duration) ease-out, -webkit-transform var(--checkout-form-expansion-duration) ease-out;
}

.App-Global-Fields {
    margin-bottom: var(--space-2);
}

.wrap-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.spacing-16 {
    margin: -8px;
}

.spacing-16>.flex-item {
    padding: 8px;
}

.direction-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.FormFieldGroup-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.ReadOnlyForm-container {
    width: 100%;
}

.F-L8wL7C__EmailFormFieldGroup--readOnlyForm {
    margin-top: 0;
}

.ReadOnlyForm {
    background-color: var(--checkout-gray-light);
    border-radius: var(--rounded);
    margin: var(--space-1) 0 0 0;
    width: 100%;
}

.ReadOnlyForm .ReadOnlyFormField:first-child {
    border-top: none;
}

.ReadOnlyForm .ReadOnlyFormField {
    border-top: var(--border);
}

.ReadOnlyFormField-container {
    padding: var(--space-4);
}

.ReadOnlyFormField-contentContainer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
}

.ReadOnlyFormField-label {
    -ms-flex-negative: 0;
    color: var(--checkout-gray500);
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: 14px;
    width: 30%;
}

.ReadOnlyFormField-titleContainer {
    -ms-flex-pack: justify;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-width: 0;
}

.AccordionItemCover-titleContainer {
    min-width: 0;
}

.PaymentMethodFormAccordionItem .AccordionItemCover-titleContainer {
    width: 100%;
}

.AccordionItemCover-actionContainer {
    height: 0;
}

.AccordionItemCover-actionContainer--noButton {
    margin-left: 0;
}

.AccordionItemCover-actionContainer {
    margin-left: var(--space-2);
}

.flex-item:empty {
    display: none;
}

.ReadOnlyFormField-title {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.ReadOnlyFormField-title {
    color: var(--checkout-gray800);
    font-size: 14px;
    overflow: hidden;
    padding-right: var(--space-2);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ReadOnlyFormField-action {
    -ms-flex-preferred-size: auto;
    -ms-flex-negative: 0;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: 12px;
}

.Accordion {
    background-color: var(--checkout-white);
    border-radius: var(--rounded);
    box-shadow: var(--border-box-shadow);
    margin: var(--space-1) 0 0 0;
}

.ConfirmPayment .SubmitButton {
    transition: box-shadow .08s ease-in, -webkit-transform .15s ease;
    transition: transform .15s ease, box-shadow .08s ease-in;
    transition: transform .15s ease, box-shadow .08s ease-in, -webkit-transform .15s ease;
}

.SubmitButton {
    --button-height: var(--button-height-xlg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0;
    border-radius: var(--rounded);
    box-shadow: var(--submit-button-shadow);
    color: var(--checkout-white);
    cursor: pointer;
    display: block;
    height: var(--button-height);
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all var(--default-transition), box-shadow .08s ease-in;
    width: 100%;
}

.SubmitButton-Shimmer {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(calc(var(--shimmer-width) * -1));
    -ms-transform: translateX(calc(var(--shimmer-width)*-1));
    transform: translateX(calc(var(--shimmer-width) * -1));
    transition: opacity var(--default-transition);
    width: var(--shimmer-width);
}

.SubmitButton--incomplete .SubmitButton-Text--current {
    opacity: .6;
}

.SubmitButton-Text {
    left: 0;
    line-height: var(--button-height);
    position: absolute;
    text-align: center;
    top: 0;
    transition: all var(--default-transition);
    width: 100%;
}

/* Book page */

.inner__wrapper {
    display: flex;
    gap: 16px;
}

.inner__book {
    width: 100%;
}

.inner-book__author, .inner-book__title {
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}

.inner-book__title {
    font-size: 32px;
}

.inner-book__author, .inner-book__title {
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}

.inner-book__sub--title {
    font-size: 20px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 300;
}

.inner-book__wrapper {
    border-top: 1px solid #e1e7ea;
    border-bottom: 1px solid #e1e7ea;
    padding: 16px 0;
    margin-bottom: 24px;
}

.inner-book__description--wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    row-gap: 12px;
}

.inner-book__description {
    display: flex;
    align-items: center;
    width: 50%;
    color: #032b41;
    font-weight: 500;
    font-size: 14px;
}

.inner-book__icon {
    display: flex;
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

.inner-book__icon svg {
    width: 100%;
    height: 100%;
}

.inner-book__read--btn-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.inner-book__read--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 48px;
    background-color: #032b41;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
    transition: opacity .2s;
}

.inner-book__read--icon svg {
    height: 24px;
    width: 24px;
}

.inner-book__bookmark {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0365f2;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 18px;
    transition: color .2s;
}

.inner-book__bookmark--icon {
    display: flex;
    width: 20px;
    height: 20px;
}

.inner-book__secondary--title {
    font-size: 18px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}

.inner-book__tags--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.inner-book__tag {
    background-color: #f1f6f4;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: not-allowed;
    color: #032b41;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color .2s;
}

.inner-book__book--description {
    color: #032b41;
    margin-bottom: 16px;
    line-height: 1.5;
}

.inner-book__secondary--title {
    font-size: 18px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}

.inner-book__author--description {
    color: #032b41;
    line-height: 1.5;
}

@media only screen and (max-width: 991.98px) {
    .wEAIlV87__Header {
        background-color: var(--checkout-white);
        border-bottom: 1px solid transparent;
        margin-bottom: var(--checkout-app-gutter-width);
        padding: var(--checkout-app-gutter-width);
        width: 100%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .PaymentForm-form {
        transition: none;
    }
}

@media only screen and (max-width: 991.98px) {
    .ProductSummary-totalAmountContainer {
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 576px) {
    .alXgr_l1__BusinessLink--withArrow .scD5qOnJ__Business-image {
        transition: opacity .25s ease, -webkit-transform .25s ease;
        transition: opacity .25s ease, transform .25s ease;
        transition: opacity .25s ease, transform .25s ease, -webkit-transform .25s ease;
    }
}

@media (min-width: 1024px) {
  .accordion__header {
    min-height: 280px;
  }
}

@media (max-width: 992px) {
    .inner-book--img-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .inner__book {
        order: 1;
    }
}

@media (max-width: 992px) {
    .inner__wrapper {
        flex-direction: column;
        gap: 32px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .accordion__header {
    min-height: 240px;
  }
}

@media (max-width: 767px) {
  .accordion__header {
    min-height: 180px;
    padding: 20px 16px;
  }
}

@media (max-width: 1200px) {
  .selected__book {
        width: 100%;
    }

}

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .landing__image--mask {
    display: none;
  }

  .landing__content__title {
    font-size: 24px;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .statistics__heading {
    font-size: 24px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .numbers__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__content--details-second {
    order: 1;
  }

  .statistics__content--header-second {
    align-items: flex-start;
  }

  .statistics__data--title {
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__sub--title {
    font-size: 14px;
  }

  .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .review__body {
    font-size: 14px;
  }

  .numbers__wrapper {
    gap: 24px;
  }

  .numbers__title {
    font-size: 32px;
  }

  .numbers__sub--title {
    font-size: 14px;
  }

  .remove--tablet {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }
}